@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >

    <h1>Jobs in India</h1>
    
    </div>
        
    <p>
        <div class="bs-popover-right">
        <p><h2>Welcome to the right place,</h2></p>
        <p><h2>at the right time</h2></p>
        <p><h4>Where the best set of talent, meets the right set of opportunities.</h4></p>
        <div class ="col-6 form-group text-left p-2 ">
                    <a href="https://localhost:44392/Resume" class ="btn bg-primary text-white" >&nbsp;Get Started&nbsp;</a>
                    <a href="https://www.freshercooker.in/" class ="btn bg-primary text-white" >&nbsp;Vacancies&nbsp;</a>
                </div>
               
                
                    
               
        </div>
    </p>
    

