h1{
    color: blueviolet;
    
}
label{
    color: darkcyan;
}
button{
    background-color:cornflowerblue;
    
}

    body {
        background-image: url("paper.gif");
}

h2{
    text-align: center;
    color: rgb(236, 105, 105);
    text-transform: uppercase;
    font-style: italic;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
